langchain
langchain-core
langchain-openai
langchain-community
langchain-experimental
langchain-chroma
langchain-text-splitters
chromadb
unstructured[pdf,local-inference]
langchain-unstructured
pytesseract
pdf2image
open_clip_torch
torch
torchvision
Pillow
python-dotenv
ipykernel
